body,h1,h3,p{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
}

h1{
    font-size: 5rem;
}

h3{
    font-size: 2.8rem;
    font-weight: 400;
}

#turn{
    /* display: none; */
    margin-top: 0.5em;
}

button{
    border: none;
    width: 115px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5em 1em;
    margin-top: 2em;
    margin-right: 1em;
    border-radius: 50px;
    background-color: #cacaca;
}

button:active{
    transform: translateY(2px);
}

#gameBox {
    margin: 4em 0;
    background-color: gray;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 140px);
  grid-gap: 5px;
}

.grid > p {
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    background-color: white;
    padding: 0.5em;
}

#winnerBox{
    display: none;
    margin-top: 0.5em;
    font-size: 2.8rem;
    font-weight: 400;
}